<link href="./styles.scss">
<div>
  <p class="text-3xl font-bold underline text-center">{{title | first}}</p>
  <ul>
    <li *ngFor="let item of menu" (click)="changeListName(item)">
      <a>{{item}}</a>
    </li>
  </ul>
  <br>
  <div [appValidateAccess]="data">
    <h3 class="text-2xl text-blue-950 font-medium">Sumar</h3>
    <input type="number" [(ngModel)]="firstNumber"/>
    <input type="number" [(ngModel)]="secondNumber"/>
    <input type="button" value="Sumar" (click)="calculateSum()"/>
    <br>
    <span>Resultado: {{totalsum}}</span>
  </div>
  <br>
  <div [appValidateAccess]="data">
    <h3 class="text-2xl text-blue-950 font-medium">Multiplicar</h3>
    <input type="number" [(ngModel)]="first1"/>
    <input type="number" [(ngModel)]="second2"/>
    <input type="button" value="Multiplicar" (click)="calculateMulti()"/>
    <br>
    <span>Resultado: {{totalmulti}}</span>
  </div>
  <br>
  <div [appValidateAccess]="data">
    <h3 class="text-2xl text-blue-950 font-medium">Calcular años</h3>
    <input type="number" [(ngModel)]="age"/>
    <input type="button" value="Calcular" (click)="calculateAge()"/>
    <p class="text-green-600" *ngIf="calcAge > 18 else noMayor">eres mayor de edad!</p>
    <ng-template #noMayor>
      <p class="text-red-600">no eres mayor :(</p>
    </ng-template>
  </div>
<!--  <br>-->
<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-second [name]="nameSecondComponent"></app-second>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
  <br>
  <div [appValidateAccess]="data">
    <h2 class="text-2xl text-blue-950 font-medium">Calcular impuesto</h2>
    <app-second (calcTax)="IVA($event)"></app-second>
    <p class="align-text-bottom">El total del impuesto es: {{ivaTotal}}</p>
  </div>
  <br>
  <div>
    <p class="text-center text-3xl" appColor>Hello world</p>
  </div>
</div>
